@font-face {
    font-family: 'Space Grotesk';
    src: url('SpaceGrotesk-Light.woff2') format('woff2'), url('SpaceGrotesk-Light.woff') format('woff');
    font-weight: 300; /* light */
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('SpaceGrotesk-Regular.woff2') format('woff2'), url('SpaceGrotesk-Regular.woff') format('woff');
    font-weight: 400; /* regular */
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('SpaceGrotesk-Medium.woff2') format('woff2'), url('SpaceGrotesk-Medium.woff') format('woff');
    font-weight: 500; /* medium */
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('SpaceGrotesk-SemiBold.woff2') format('woff2'), url('SpaceGrotesk-SemiBold.woff') format('woff');
    font-weight: 600; /* SemiBold */
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('SpaceGrotesk-Bold.woff2') format('woff2'), url('SpaceGrotesk-Bold.woff') format('woff');
    font-weight: 700; /* bold */
    font-style: normal;
}
