<template>
    <div class="character-library">
        <CharacterList v-bind:characters="characters" />
        <!-- <Button @click="$refs.uploader.click()">Add Character</Button>
        <input
            ref="uploader"
            style="display: none;"
            type="file"
            :name="addCharacter"
            @change="addCharacter"
            accept="image/*"
        /> -->
    </div>
</template>

<script lang="ts">
import { mapActions, mapGetters, mapState } from 'vuex';

import CharacterList from '@/components/library/characters/CharacterList.vue';
export default {
    components: {
        CharacterList: CharacterList,
    },
    computed: {
        ...mapGetters('gamestate/', {
            selectedTokenId: 'selectedTokenId',
        }),
        ...mapState('live', {
            director: 'director',
            connected: 'connected',
        }),
        ...mapGetters('characters', {
            characters: 'getCharacters',
        }),
    },
    watch: {
        connected: async function() {
            if (this.connected) {
                await this.loadCharacterFiles();
                await this.loadCharacters();
            }
        },
    },
    methods: {
        ...mapActions('characters', {
            addCharacter: 'add',
            loadCharacters: 'load',
        }),
        ...mapActions('library', {
            loadCharacterFiles: 'getCharacters',
        }),
    },
};
</script>
<style scoped>
.character-library {
    height: 100%;
    overflow-y: auto;
}
</style>
