<template>
    <BaseEditor v-if="profile" @escape="onCancel">
        <div class="profile">
            <fieldset>
                <legend>Display Name</legend>
                <input v-model="profile.displayName" type="textarea" />
            </fieldset>
            <fieldset>
                <legend>Image</legend>
                <img ref="image" :src="profile.imageUrl" @click="onImageClicked" />
                <input ref="uploader" style="display: none;" type="file" @change="uploadImage" accept="image/*" />
            </fieldset>
            <button @click="onSave">{{ saveButton }}</button>
            <button @click="onCancel">Cancel</button>
        </div>
    </BaseEditor>
</template>

<style scoped>
img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
</style>

<script lang="ts">
import { mapState, mapActions } from 'vuex';
import BaseEditor from '@/components/editor/BaseEditor.vue';
import _ from 'lodash';

export default {
    components: {
        BaseEditor: BaseEditor,
    },
    data: function() {
        return {
            profile: null,
            saveButton: 'Save',
        };
    },
    computed: {
        ...mapState('profile', {
            me: 'me',
            show: 'showEditor',
        }),
    },
    watch: {
        show: {
            handler(show) {
                if (show) {
                    this.profile = _.cloneDeep(this.me);
                }
            },
            immediate: false,
        },
        'me.imageUrl': {
            handler(url) {
                if (url && this.profile) {
                    this.profile.imageUrl = url;
                }
            },
            immediate: false,
        },
    },
    methods: {
        ...mapActions('profile', {
            uploadImage: 'uploadImage',
            update: 'update',
            edit: 'edit',
        }),
        onImageClicked() {
            this.$refs.uploader.click();
        },
        async onSave() {
            if (this.profile !== this.me) {
                await this.update(this.profile);
                this.edit(false);
                this.profile = null;
            }
        },
        onCancel() {
            this.edit(false);
            this.profile = null;
        },
    },
};
</script>
