<template>
    <div class="info-card-contents">
        <img src="/static/icons/layout/exit.svg" class="dismiss" @click="$emit('dismiss')" />
        <div class="name">{{ campaign.name }}</div>
        <div class="description">{{ campaign.description }}</div>
        <a :href="`/invite/${campaign.id}`">
            <div class="invite">/invite/{{ campaign.id }}</div>
        </a>
        <div class="action-buttons">
            <button class="modal-button selected" @click="playCampaign">Play</button>
            <button class="modal-button" @click="editCampaign">Edit</button>
            <button class="modal-button" id="delete" @click="deleteCampaign">
                <img src="/static/icons/layout/delete.svg" alt="" />
            </button>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        campaign: {
            type: Object,
            required: true,
        },
    },
    methods: {
        playCampaign() {
            this.$router.push({ name: 'live-play', params: { sessionId: this.campaign.id, sceneId: 'debug' } });
        },
        editCampaign() {
            this.$router.push({ path: `/edit/${this.campaign.id}` });
        },
        deleteCampaign() {
            this.$emit('delete-campaign');
        },
    },
};
</script>

<style lang="scss">
.info-card-contents {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 2em;
    .dismiss {
        width: 3em;
        position: absolute;
        top: 1.25em;
        right: 1.25em;
        cursor: pointer;
    }
}
.name {
    font-weight: bold;
    font-size: 30px;
    margin: 10px 0px 20px 0px;
}
.description {
    font-size: 18px;
    margin-bottom: 3em;
}
.modal-button {
    width: auto;
    padding: 0px 30px;
    margin: 3px 5px;
}
.modal-button.selected {
    padding: 0px 50px;
}
#delete {
    background: #b72d0c;

    width: auto;
    padding: 0px 10px;
}
#delete img {
    height: 1em;
    width: 1em;
    margin-bottom: 2px;
}
</style>
