<template>
    <main>
        <div class="createCampaignDiv">
            <section>
                <h1 v-if="campaign.id === null">Create New Campaign</h1>
                <h1 v-if="campaign.id !== null">Edit Campaign</h1>
                <label for="campaign-name">
                    Campaign Name
                </label>
                <input id="campaign-name" v-model="campaign.name" type="text" />
                <label for="campaign-description">
                    Campaign Description
                </label>
                <textarea
                    cols="68"
                    rows="5"
                    maxlength="310"
                    id="campaign-description"
                    v-model="campaign.description"
                ></textarea>
                <div class="bannerUpload">
                    Campaign Banner Upload
                    <div :preview="true" :capture="false" outputFormat="verbose" class="uploadImg">
                        <div v-show="!ready">
                            <form enctype="multipart/form-data" novalidate>
                                <div class="dropbox">
                                    <input
                                        type="file"
                                        ref="file"
                                        @change="previewFile()"
                                        accept="image/*"
                                        class="input-file"
                                    />
                                    <p>
                                        Drag your file(s) here to begin<br />
                                        or click to browse
                                    </p>
                                    <div class="img">
                                        <svg
                                            version="1.1"
                                            width="30"
                                            height="30"
                                            id="Capa_1"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            x="0px"
                                            y="0px"
                                            viewBox="0 0 477.827 477.827"
                                            xml:space="preserve"
                                        >
                                            <path
                                                d="M441.537,160.632c1.489-7.981,2.243-16.082,2.253-24.201C443.699,61.026,382.498-0.028,307.093,0.062
			c-57.402,0.069-108.63,36.034-128.194,89.999c-35.029-13.944-74.73,3.148-88.675,38.177c-1.207,3.032-2.195,6.146-2.956,9.319
			c-55.932,8.365-94.492,60.488-86.127,116.42c7.502,50.163,50.596,87.275,101.316,87.254h85.333
			c9.426,0,17.067-7.641,17.067-17.067c0-9.426-7.641-17.067-17.067-17.067h-85.333c-37.703,0-68.267-30.564-68.267-68.267
			s30.564-68.267,68.267-68.267c9.426,0,17.067-7.641,17.067-17.067c0.031-18.851,15.338-34.108,34.189-34.077
			c8.915,0.015,17.471,3.517,23.837,9.757c6.713,6.616,17.519,6.537,24.135-0.176c2.484-2.521,4.123-5.751,4.69-9.245
			c9.264-55.733,61.954-93.403,117.687-84.139c55.733,9.264,93.403,61.954,84.139,117.687c-0.552,3.323-1.269,6.617-2.146,9.869
			c-1.962,7.124,0.883,14.701,7.049,18.773c31.416,20.845,39.985,63.212,19.139,94.628c-12.617,19.015-33.9,30.468-56.72,30.522
			h-51.2c-9.426,0-17.067,7.641-17.067,17.067c0,9.426,7.641,17.067,17.067,17.067h51.2
			c56.554-0.053,102.357-45.943,102.303-102.497C477.798,208.632,464.526,180.066,441.537,160.632z"
                                            />
                                            <path
                                                d="M353.456,243.832l-85.333-85.333c-1.589-1.593-3.481-2.852-5.564-3.703c-4.175-1.726-8.864-1.726-13.039,0
			c-2.083,0.852-3.974,2.111-5.564,3.703l-85.333,85.333c-6.548,6.78-6.36,17.584,0.42,24.132c6.614,6.387,17.099,6.387,23.712,0
			l56.235-56.201v248.934c0,9.426,7.641,17.067,17.067,17.067c9.426,0,17.067-7.641,17.067-17.067V211.764l56.201,56.201
			c6.78,6.548,17.584,6.36,24.132-0.42C359.844,260.931,359.844,250.445,353.456,243.832z"
                                            />
                                        </svg>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div>
                        <p v-show="ready" class="preview-image">Image Preview</p>
                        <div class="image-container">
                            <img
                                id="banner-image"
                                class="image-url"
                                v-show="ready"
                                src=""
                                alt="Image Preview"
                                aria-placeholder="Select image to preview"
                            />
                            <div v-show="ready" class="centered">Loading banner image...</div>
                            <div class="loading-bar">
                                <md-progress-bar
                                    class="md-primary centered"
                                    v-show="!showme"
                                    md-mode="indeterminate"
                                    v-if="ready"
                                ></md-progress-bar>
                                <md-progress-bar
                                    v-show="showme"
                                    class="md-primary centered"
                                    md-mode="determinate"
                                ></md-progress-bar>
                            </div>
                        </div>
                        <p class="messages">
                            {{ msg }}
                        </p>
                    </div>
                </div>
                <div class="create">
                    <button v-if="campaign.id === null" @click="saveCampaign(campaign)">
                        Create
                    </button>
                    <button v-else @click="saveEditedCampaign">Save</button>
                    <router-link :to="{ name: 'campaign-list', params: { '0': 'campaign-list' } }" tag="button"
                        >Cancel</router-link
                    >
                </div>
            </section>
        </div>
    </main>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
export default {
    data() {
        return {
            campaign: {
                id: null,
                name: '',
                owner: '',
                description: '',
                players: [],
                imageUrl: '',
            },
            isInitial: true,
            isSaving: false,
            file: '',
            uploadPercentage: 0,
            uploadDone: false,
            msg: '',
            isDisabled: true,
            ready: false,
            showme: false,
        };
    },
    beforeRouteEnter(to, from, next) {
        if (to.params.id) {
            axios
                .get(`/api/campaigns/${to.params.id}`)
                .then(response => {
                    next(vueMethods => vueMethods.setData(response.data));
                })
                .catch(error => {
                    next(vueMethods => vueMethods.setError(error));
                });
        } else {
            next();
        }
    },
    methods: {
        setData(data) {
            this.campaign = data;
        },
        setError() {
            this.error = 'Error loading campaign to edit.';
        },
        saveCampaign(campaign) {
            let date = new Date();
            campaign.created = moment(date, 'YYYY-MM-DD').format('MM/DD/YYYY');
            this.campaign = campaign;
            let method = this.campaign.id ? 'put' : 'post';
            axios[method]('/api/campaigns', this.campaign).then(() => {
                this.$router.push('/');
            });
        },
        saveEditedCampaign() {
            let method = this.campaign.id ? 'put' : 'post';
            axios[method]('/api/campaigns', this.campaign).then(() => {
                this.$router.push('/');
            });
        },
        previewFile() {
            const preview = document.getElementById('banner-image');
            this.file = document.querySelector('input[type=file]').files[0];
            const reader = new FileReader();

            reader.addEventListener(
                'load',
                function() {
                    preview.src = reader.result;
                    preview.style.display = 'block';
                },
                false,
            );

            if (this.file) {
                reader.readAsDataURL(this.file);
                this.submitImage();
            }
        },
        async submitImage() {
            this.ready = !this.ready;
            const data = new FormData();
            data.append('files', this.file);
            try {
                const resp = await axios.post(`/api/files?path=${'campaign'}`, data, {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                    },
                    onUploadProgress: function(progressEvent) {
                        this.msg = 'uploading image..';
                        this.uploadPercentage = parseInt(Math.round((progressEvent.loaded / progressEvent.total) * 50));
                    }.bind(this),
                });
                if (resp) {
                    this.campaign.imageUrl = resp.data.files[0].url;
                    this.msg = 'Finishing..';
                    this.uploadDone = true;
                    this.msg = 'Successfully uploaded!';
                    this.showme = true;
                }
            } catch (error) {
                console.log(error);
            }
        },
    },
};
</script>

<style lang="scss" scoped>
section {
    display: flex;
    flex-direction: column;
    max-width: 90ch;
}
.createCampaignDiv {
    width: 560px;
    padding: 0px;
    margin: auto;
    padding-bottom: 0px;
    border-radius: 10px;
    color: white;
}
.createCampaignDiv h1,
.preview-image,
.messages {
    background-color: #444444;
    position: relative;
    padding: 0;
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 25px;
    text-align: center;
    color: white;
}
input#campaign-name {
    position: relative;
    top: 10px;
    border: 1px solid black;
}
.createCampaignDiv label {
    color: black;
    padding-top: 10px;
}
textarea {
    margin-bottom: 0.2rem;
    height: 80px;
    margin-top: 10px;
    white-space: pre-wrap;
    border: 1px solid black;
}
input {
    margin-top: 0;
    margin-bottom: 1rem;
}
label {
    font-weight: bold;
    font-size: 1.2em;
}
main {
    padding: 2rem;
    padding-left: 70px;
}

section {
    border: 0.5px solid rgb(95, 93, 93);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    margin-left: -10px;
}
.create {
    margin: 0;
    padding: 4px;
    border-radius: 6px;
    background-color: #444444;
}
section h3 {
    margin: 0;
}
section img:placeholder-shown {
    color: white;
}
.progress-bar-div {
    float: left;
}

.image-url {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 1px;
    padding: 0px;
    bottom: 25px;
    width: 350px;
    height: 100px;
    border: 1px solid black;
    margin-bottom: 10px;
    object-fit: cover;
    z-index: 1;
}

span {
    position: relative;
    top: -24px;
    left: 10px;
}
.create button {
    background-color: #899afd;
    margin: 2px;
}
input::-webkit-file-upload-button {
    display: none;
}
.uploadImg {
    padding: 10px;
    margin-left: 40px;
    width: 160px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.banner-dimension {
    position: relative;
    color: gray;
    font-size: 1rem;
    top: 8px;
    left: 18px;
}

span .upload-done {
    color: white;
}
label .upload-div {
    max-height: 100px;
}
label .upload-div span {
    color: white;
    position: relative;
    bottom: 15px;
    left: 155px;
    z-index: 2;
}
.md-progress-bar {
    opacity: 0.5;
    height: 100px;
    width: 350px;
    text-align: center;
    z-index: 1;
    cursor: pointer;
}

.messages {
    font-size: 0.7rem;
    color: white;
}

.image-container {
    position: relative;
    text-align: center;
    color: gray;
    font-size: 0.75rem;
    font-weight: 100;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dropbox {
    opacity: 0.5;
    width: 400px;
    outline: 1px dashed grey;
    outline-offset: -10px;
    background: rgb(251, 253, 253);
    color: black;
    padding: 10px 10px;
    height: 150px;
    left: 18px;
    position: relative;
    cursor: pointer;
}

.input-file {
    opacity: 0;
    width: 400px;
    height: 150px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.dropbox:hover {
    background: lightcyan;
}

.dropbox p {
    font-size: 0.8rem;
    text-align: center;
    padding: 30px 0;
    width: 100%;
}
.img {
    opacity: 1;
    width: 30px;
    position: relative;
    left: 175px;
    bottom: 40px;
    z-index: -1;
}
</style>
