<template>
    <main>
        <section v-if="!error">
            <div class="smallContainer">
                <div>
                    <strong>{{ author }}</strong> has invited you to play in
                </div>
                <h1>{{ title }}</h1>
                <div>
                    <button @click="joinCampaign">Accept</button>
                    <router-link :to="{ name: 'campaign-list' }" tag="button">Decline</router-link>
                </div>
            </div>
        </section>
        <section v-if="error">
            {{ error }}
        </section>
    </main>
</template>

<script>
import axios from 'axios';
import { mapGetters } from 'vuex';
export default {
    data() {
        return {
            campaignId: '',
            author: '',
            title: '',
            error: '',
        };
    },
    ...mapGetters(['oidcUser']),
    beforeRouteEnter(to, from, next) {
        axios
            .get(`/api/campaigns/${to.params.id}`)
            .then(response => {
                next(vm => vm.setData(response.data));
            })
            .catch(error => {
                next(vm => vm.setError(error));
            });
    },
    methods: {
        setData(data) {
            this.author = data.owner;
            this.title = data.name;
            this.campaignId = data.id;
        },
        setError(/*error*/) {
            this.error = 'Error loading campaign invitation.';
        },
        joinCampaign() {
            axios.put(`/api/campaigns/${this.campaignId}/join`).then(() => this.$router.push('/'));
        },
    },
};
</script>

<style scoped>
section {
    margin-top: 40px;
    padding: 0;
}

button {
    background-color: #899afd;
}
section .smallContainer {
    margin-left: auto;
    margin-right: auto;
    background-color: #444444;
    width: 500px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    -webkit-box-shadow: 10px 10px 5px 1px rgba(214, 203, 214, 1);
    -moz-box-shadow: 10px 10px 5px 1px rgba(214, 203, 214, 1);
    box-shadow: 10px 10px 5px 1px rgba(214, 203, 214, 1);
}

div button {
    margin: 10px;
    padding: 10px;
}
</style>
