<template>
    <div class="campaign">
        <div class="info-card" :class="{ show: showCard }">
            <CampaignInfoCard :campaign="campaign" @dismiss="hideInfoCard" @delete-campaign="deleteCampaign" />
        </div>
        <div class="campaign-card" :style="{ 'background-image': 'url(' + campaign.imageUrl + ')' }">
            <div class="info" @click="showInfoCard">
                <img src="/static/icons/layout/info.svg" />
                info
            </div>
        </div>
        <div class="campaign-name">{{ campaign.name }}</div>
    </div>
</template>

<script>
import CampaignInfoCard from './CampaignInfoCard';
export default {
    components: {
        CampaignInfoCard,
    },
    props: {
        campaign: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            showCard: false,
        };
    },
    methods: {
        showInfoCard() {
            this.showCard = true;
        },
        hideInfoCard() {
            this.showCard = false;
        },
        deleteCampaign() {
            this.$emit('delete-campaign', this.campaign);
        },
    },
};
</script>

<style lang="scss" scoped>
.campaign {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em 3em;
    position: relative;
}
.campaign-card {
    position: relative;
    height: 700px;
    flex-grow: 1;
    background: #1c1c1c;
    border-radius: 3em;
    box-shadow: 0px 0px 50px #00000041;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;

    .info {
        font-size: 20px;
        position: absolute;
        left: 20px;
        bottom: 20px;
        background: #1c1c1c99;
        padding: 0.25em 0.75em 0.25em 0.25em;
        cursor: pointer;
        border-radius: 2em;
        user-select: none;
        img {
            height: 2em;
        }
    }
}
.campaign-card:hover {
    transform: scale(1.03);
}
.info-card {
    position: absolute;
    top: 60px;

    height: 670px;
    width: 100%;
    border-radius: 3em;

    background: #1c1c1c;
    opacity: 0;
    z-index: 10;
    pointer-events: none;
    transition: all 0.5s ease;
}
.info-card.show {
    top: 30px;
    pointer-events: all;
    opacity: 1;
}
.info-card.show ~ .campaign-card {
    transform: scale(0.9);
    margin-top: -20px;
}
.info-card.show ~ .campaign-name {
    opacity: 0;
}
.campaign-name {
    text-align: center;
    font-size: 19px;
    padding-top: 1em;
    overflow-y: hidden;
    transition: all 0.5s ease;
    user-select: none;
}
</style>
