<template>
    <div class="campaign" @click="goToCreate">
        <div class="campaign-card">
            <img src="/static/icons/layout/campaign-plus.svg" />
        </div>
    </div>
</template>
<script>
export default {
    methods: {
        goToCreate() {
            this.$router.push({ path: '/create' });
        },
    },
};
</script>

<style lang="scss" scoped>
.campaign {
    width: 500px;
    max-width: 700px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1em 3em;
}
.campaign-card {
    height: 700px;
    background: #262626;
    border: #444545 8px solid;
    border-radius: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
    img {
        width: 7em;
        height: 7em;
    }
}
.campaign-card:hover {
    transform: scale(1.03);
}
.campaign-name {
    width: 500px;
    text-align: center;
    font-size: 19px;
    padding-top: 1em;
}
</style>
