<template>
    <div class="sidebar">
        <slot />
    </div>
</template>

<script>
export default {};
</script>

<style scoped>
.sidebar {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.39) 0%, rgba(0, 0, 0, 0.42) 100%);
    backdrop-filter: blur(10px) saturate(140%);

    height: 100%;
    width: 450px;

    position: fixed;
    top: 0px;
    right: 0px;

    padding: 20px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    overflow-y: auto;
}
</style>
