<template>
    <transition name="modal">
        <div class="modal-mask" :v-show="show">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <slot />
                </div>
            </div>
        </div>
    </transition>
</template>

<script lang="ts">
export default {
    props: {
        show: {
            type: Boolean,
            default: false,
        },
    },
    mounted() {
        window.addEventListener('keyup', this.onKeyUp);
    },
    destroyed() {
        window.removeEventListener('keyup', this.onKeyUp);
    },
    methods: {
        onKeyUp: function(event) {
            if (event.key == 'Escape') {
                this.$emit('escape', {});
            }
        },
    },
};
</script>

<style scoped>
.modal-mask {
    backdrop-filter: blur(3px);
}

.modal-container {
    width: 850px;
    background: #31313a;
    padding: 0px !important;
    border-radius: 30px;
    overflow: hidden;
}
</style>
