<template>
    <div class="chat-input">
        <div class="macro-container">
            <DieMacro
                v-for="dice in diceAdjusted"
                :key="dice.macro"
                @click.native="sendRoll(dice.macro)"
                v-bind:macro-object="dice"
            />
        </div>
        <input
            v-model="message"
            v-on:input="updateDiceMacroList"
            @keydown.enter="sendMessage"
            placeholder="Type a message"
        />
    </div>
</template>

<script>
import moment from 'moment';
import DieMacro from './DieMacro';
import { mapState } from 'vuex';

export default {
    components: {
        DieMacro,
    },
    props: {
        diceMacro: {
            type: Array,
            default: () => {
                return [
                    {
                        icon: 'd20.svg',
                        macro: '1d20',
                        hint: '1d20',
                    },
                    {
                        icon: 'd12.svg',
                        macro: '1d12',
                        hint: '1d12',
                    },
                    {
                        icon: 'd10.svg',
                        macro: '1d10',
                        hint: '1d10',
                    },
                    {
                        icon: 'd8.svg',
                        macro: '1d8',
                        hint: '1d8',
                    },
                    {
                        icon: 'd6.svg',
                        macro: '1d6',
                        hint: '1d6',
                    },
                    {
                        icon: 'd4.svg',
                        macro: '1d4',
                        hint: '1d4',
                    },
                ];
            },
        },
    },
    data: function() {
        return {
            message: '',
            diceAdjusted: [],
        };
    },
    computed: {
        ...mapState('live', {
            sessionId: 'sessionId',
            director: 'director',
        }),
        ...mapState('profile', {
            me: 'me',
        }),
    },
    methods: {
        sendMessage() {
            var diceRoll = {
                timestamp: +moment(),
                userId: this.me.id,
                displayName: this.me.displayName,
                sessionId: this.sessionId,
                message: this.message,
            };
            this.director.submitRoll(diceRoll);
            this.message = '';
        },
        sendRoll(roll) {
            var diceRoll = {
                timestamp: +moment(),
                userId: this.me.id,
                displayName: this.me.displayName,
                sessionId: this.sessionId,
                message: roll,
            };
            console.log(diceRoll);
            this.director.submitRoll(diceRoll);
        },
        updateDiceMacroList() {
            console.log('update macro list');
            if (!this.message) {
                this.diceAdjusted = [];
                return;
            }
            this.diceAdjusted = this.diceMacro.filter(die => {
                return die.macro.substring(2).includes(this.message);
            });
        },
    },
};
</script>

<style scoped>
input {
    background: #444;
    color: #fff;
    width: 100%;
    border: 2px solid #1670b100;
    border-radius: 10px;
    transition: border 0.25s linear;
}
input:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid #274d78;
}
.macro-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
</style>
