<template>
    <header>
        <router-link to="/">
            <img src="/static/images/logo.svg" class="logo" />
        </router-link>

        <div class="spacer" />
        <div v-if="me" class="user" @click="toggleUserPanel">
            <img id="arrow-down" src="/static/icons/layout/arrow-down.svg" />
            <img class="profile" :src="me.imageUrl" />
        </div>
        <UserDropdown
            :user="me"
            :hide="userDropdownHidden"
            @account="goToAccount"
            @edit-profile="editProfile"
            @sign-out="signOutOidc"
        />
    </header>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import UserDropdown from './HeaderUserDropdown';

export default {
    components: {
        UserDropdown,
    },
    data() {
        return {
            userDropdownHidden: true,
        };
    },
    computed: {
        ...mapState('profile', {
            me: 'me',
        }),
    },
    methods: {
        ...mapActions(['signOutOidc']),
        goToAccount: function() {
            this.$router.push({ name: 'profile' });
        },
        editProfile() {
            this.$emit('profile-activate');
        },
        toggleUserPanel() {
            this.userDropdownHidden = !this.userDropdownHidden;
        },
    },
};
</script>

<style lang="scss" scoped>
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 1em;
    padding-right: 4em;
    .spacer {
        flex-grow: 1;
    }
    z-index: 1000;
    background: #31313ac7;
    backdrop-filter: blur(10px);
    user-select: none;
}

.logo {
    display: block;
    width: 225px;
    border-bottom-style: none;
    padding-right: 10px;
}

.user {
    display: flex;
    align-items: center;
    align-self: right;
    background: #0000002c;
    border-radius: 3em;
    padding: 3px;
    cursor: pointer;
    transition: background 1s;
    img.profile {
        width: 4em;
        height: 4em;
    }
    img#arrow-down {
        width: 1.25em;
        margin: 0px 10px;
    }
}
.user:hover {
    background: #000000cc;
    transition: background 0.5s;
}
</style>
