<template>
    <BaseEditor v-if="message" @escape="close">
        <div class="container">
            <h1>Error</h1>
            <div class="message">{{ message }}</div>
            <button @click="close">Okay</button>
        </div>
    </BaseEditor>
</template>

<script lang="ts">
import { mapState } from 'vuex';
import BaseEditor from '@/components/editor/BaseEditor.vue';

export default {
    components: {
        BaseEditor: BaseEditor,
    },
    computed: {
        ...mapState('errors', {
            message: 'modalMessage',
        }),
    },
    methods: {
        close: function() {
            this.$router.push({ path: '/campaign-list' });
            this.$store.dispatch('errors/clear');
        },
    },
};
</script>

<style scoped>
.container {
    height: 410px;
    padding: 50px;
    display: grid;
    grid: 1fr 5fr 1fr / 1fr;
    row-gap: 30px;
    justify-items: center;
}
h1 {
    text-align: center;
}
button {
    width: 33%;
}
.message {
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}
</style>
