@import 'fonts/space-grotesk/index.css';

body {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif !important;
    color: white;
    background: #31313a;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Grotesk', serif;
    font-weight: 800;
  }

  input, textarea {
   
    padding: .5rem 1rem;
    border: 0;
    border-radius: 5px;
    &:focus {
        outline: solid 2px #1670b1;
        outline-offset: 2px;
        box-shadow: inset 1px 1px 0 #1670b1, inset -1px -1px 0 #1670b1;
    }
  }

button {
  background-color: rgb(137, 154, 253);
  color: white;
  transition: background-color .3s cubic-bezier(0,1.02,.48,.98);
  border: 0;
  border-radius: 5px;
  margin-left: 10px;
  padding: 8px;
  cursor: pointer;
}

//global input styling to match our look
input,
textarea {
    border-radius: 8px;
    box-sizing: border-box;
    border: 2px solid #1670b100;
    background: #444;
    color: #fff;
}
textarea.no-resize {
  resize: none;
}
button:focus {
  outline: none !important;
}
input:focus,
textarea:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid #274d78;
}

