<template>
    <div class="scene-list">
        <SceneItem
            v-for="scene in Object.values(scenes)"
            v-bind:key="scene._id"
            v-bind:scene="scene"
            v-bind:selected="scene === selected"
            @onEdit="onEdit"
            @onSelect="onSelect"
            @onMoveAll="onMoveAll"
        />
    </div>
</template>

<script lang="ts">
import SceneItem from './SceneItem.vue';

export default {
    name: 'SceneList',
    display: 'Scenes',
    components: {
        SceneItem: SceneItem,
    },
    props: {
        scenes: {
            type: Object,
            default: function() {
                return {};
            },
        },
        activeScene: {
            type: Object,
            default: () => null,
        },
    },
    data: function() {
        return {
            selected: null,
        };
    },
    watch: {
        activeScene: function() {
            this.selected = this.activeScene;
        },
    },
    methods: {
        onEdit: function({ scene }) {
            this.$emit('onEdit', { scene });
        },
        onSelect: function({ scene }) {
            this.$emit('onSelected', { scene });
        },
        onMoveAll: function({ scene }) {
            this.$emit('onMoveAll', { scene });
        },
    },
};
</script>
<style scoped>
.scene-list {
    max-height: 310px;
    overflow: auto;
    flex: 1;
}
</style>
