<template>
    <BaseEditor v-if="modified._id" @escape="cancel">
        <div class="character">
            <div class="character-left">
                <CharacterToken
                    :image="modified.image"
                    :mode="modified.borderMode"
                    :color="modified.borderColor"
                    size="170px"
                />
                <div class="spacer"></div>
                <fieldset>
                    <legend>Style</legend>
                    <select v-model="modified.borderMode" v-on:change="onChange">
                        <option value="coin">Coin</option>
                        <option value="tile">Tile</option>
                        <option value="circle">Crop circle</option>
                        <option value="square">Square</option>
                    </select>
                    <legend>Color</legend>
                    <div class="colorSelector">
                        <div
                            v-bind:key="c"
                            v-for="c in colorList"
                            :id="c"
                            v-bind:style="{ backgroundColor: c }"
                            v-bind:class="getClass(c)"
                            v-on:click="selectColor($event, c)"
                        />
                    </div>
                    <input v-model="modified.borderColor" v-on:change="onChange" />
                    <legend>Size</legend>
                    <div class="sizeSelector">
                        <div
                            v-bind:key="s.id"
                            v-for="s in sizeList"
                            :id="s.id"
                            v-bind:class="getSizeClass(s)"
                            v-on:click="selectSize($event, s)"
                        >
                            {{ s.caption }}
                        </div>
                    </div>
                </fieldset>
                <div class="spacer"></div>
                <button ref="characterEditSave" class="blue" disabled @click="save">Save</button>
                <button @click="cancel">Cancel</button>
            </div>
            <div class="character-right">
                <fieldset>
                    <legend>Name</legend>
                    <input v-model="modified.name" type="textarea" v-on:input="onChange" />
                </fieldset>
                <div class="expand">
                    <legend>Description</legend>
                    <textarea v-model="modified.description" v-on:input="onChange" />
                </div>
            </div>
        </div>
    </BaseEditor>
</template>

<style scoped>
.colorSelector {
    display: block;
    line-height: 0.5rem;
    padding: 0.25rem;
}

.colorSelector > div {
    cursor: pointer;
    display: inline-block;
    margin: 0.25rem;
    width: 1.5rem;
    height: 1.5rem;
    background: #0f0;
    border: 2px solid #000;
}

.colorSelector > div.active {
    border: 2px solid #fff;
}

.sizeSelector {
    display: block;
    line-height: 0.5rem;
    padding: 0.25rem;
}

.sizeSelector > div {
    cursor: pointer;
    display: inline-block;
    margin: 0.4rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.75rem;
    font-size: 2rem;
    color: #000;
    background: #ccc;
    border: 2px solid #000;
    text-align: center;
}

.sizeSelector > div.active {
    border: 2px solid #fff;
}

.character {
    display: flex;
    height: 100%;
    width: 100%;
}
.character-left {
    display: flex;

    -ms-flex: 0.45; /* IE 10 */
    flex: 0.45;

    background: #1c1c1c;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    user-select: none;
}
.character-left .spacer {
    flex-grow: 1;
}
button {
    width: 170px;
    height: 33px;
    /* Override Bootstrap */
    margin: 4px 0px;
    padding: 0px;

    background: #444545;

    font: lighter;
    font-size: 15px;
}
button.blue {
    background: #274d78;
}
button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.character-right {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
}

legend {
    color: #afafaf;
    padding-left: 8px;
    font-size: 18px;
    margin-top: 7px;
    user-select: none;
}
/* Common input styling */
select {
    width: 170px;
}
input,
textarea {
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
    border: 2px solid #1670b100;
    background: #444;
    color: #fff;
}
input:focus,
textarea:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid #274d78;
}
input {
    font-weight: bold;
}
textarea {
    flex-grow: 1;
    position: relative;
    resize: none;
}
div.expand {
    flex-grow: 1;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
</style>

<script lang="ts">
import { mapActions, mapState } from 'vuex';
import BaseEditor from '@/components/editor/BaseEditor.vue';
import { Token } from '@/core/collections/tokens/model';
import * as jsonpatch from 'fast-json-patch';
import _ from 'lodash';

import CharacterToken from './CharacterToken.vue';

export default {
    components: {
        BaseEditor: BaseEditor,
        CharacterToken: CharacterToken,
    },
    data: function() {
        return {
            modified: {},
            colorList: [
                '#a19271',
                '#e6194b',
                '#3cb44b',
                '#ffe119',
                '#4363d8',
                '#f58231',
                '#911eb4',
                '#46f0f0',
                '#f032e6',
                '#bcf60c',
                '#fabebe',
                '#008080',
                '#e6beff',
                '#9a6324',
                '#fffac8',
                '#800000',
                '#aaffc3',
                '#808000',
                '#ffd8b1',
                '#000075',
                '#808080',
                '#DDDDDD',
                '#222222',
            ],
            sizeList: [
                { id: '1', caption: 'S' },
                { id: '2', caption: 'M' },
                { id: '3', caption: 'L' },
                { id: '4', caption: 'H' },
            ],
        };
    },
    computed: {
        ...mapState('characters', {
            original: 'characterToEdit',
        }),
    },
    watch: {
        original: function() {
            if (this.original) {
                this.modified = _.cloneDeep(this.original);
            } else {
                this.modified = {};
            }
        },
    },
    methods: {
        ...mapActions('tokens', {
            updateToken: 'update',
        }),
        ...mapActions('characters', {
            updateCharacter: 'update',
            closeEditor: 'closeEditor',
        }),
        getClass(c) {
            return { active: this.modified.borderColor === c };
        },
        selectColor(event, c) {
            this.modified = { ...this.modified, borderColor: c };
            this.compareAndUpdateDisabled();
        },
        getSizeClass(s) {
            return { active: this.modified.tokenSize === s.id };
        },
        selectSize(event, s) {
            this.modified = { ...this.modified, tokenSize: s.id };
            this.compareAndUpdateDisabled();
        },
        onChange() {
            this.modified = { ...this.modified };
            this.compareAndUpdateDisabled();
        },
        compareAndUpdateDisabled() {
            const patch = jsonpatch.compare(this.original, this.modified);
            this.$refs.characterEditSave.disabled = patch.length == 0;
        },
        async save() {
            const patch = jsonpatch.compare(this.original, this.modified);
            if (patch.length > 0) {
                if (this.original instanceof Token) {
                    await this.updateToken(this.modified);
                } else {
                    await this.updateCharacter(this.modified);
                }
            }
            this.closeEditor();
        },
        cancel() {
            this.$refs.characterEditSave.disabled = true;
            this.closeEditor();
        },
    },
};
</script>
