<template>
    <div v-bind:class="getModeClass()">
        <div class="circleClass_outer" v-bind:style="getOuterStyle()">
            <div class="circleClass" v-bind:style="getMiddleStyle()">
                <div class="circleClass_inner" v-bind:style="getInnerStyle()">
                    <div
                        class="img"
                        v-bind:style="{ backgroundImage: 'url(' + image + ')', width: size, height: size }"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<style>
.circleToken {
    position: relative;
}

.circleClass_selection:focus,
.circleClass_selection.selected {
    border: 0.5rem solid #0a0;
}

.circleClass_selection:hover {
    border: 0.5rem solid rgba(#0a0, 0.3);
}

.circleToken.circleClass_selection {
    display: inline-block;
    border-radius: 30rem;
    border: 0.5rem solid transparent;
}

.circleToken.tileMode .circleClass_outer {
    border-radius: 0;
}

.circleToken.circleMode .circleClass_outer {
    padding: 0;
    background: none !important;
}

.circleToken.squareMode .circleClass_outer {
    border-radius: 0;
    padding: 0;
    background: none !important;
}

.circleToken .circleClass_outer {
    padding: 0.25rem;
    border-radius: 30rem;
    background: conic-gradient(#2d291f, #5f5643, #fff, #635a46, #2d291f);
}

.circleToken.tileMode .circleClass {
    border-radius: 0;
}

.circleToken.circleMode .circleClass {
    padding: 0;
    background: none !important;
}

.circleToken.squareMode .circleClass {
    border-radius: 0;
    padding: 0;
    background: none !important;
}

.circleToken .circleClass {
    padding: 0.5rem;
    border-radius: 30rem;
    background: #a19271;
}

.circleToken.tileMode .circleClass_inner {
    border-radius: 0;
}

.circleToken.circleMode .circleClass_inner {
    padding: 0;
    background: none !important;
}

.circleToken.squareMode .circleClass_inner {
    border-radius: 0;
    padding: 0;
    background: none !important;
}

.circleToken .circleClass_inner {
    padding: 0.25rem;
    border-radius: 30rem;
    background: conic-gradient(#fff, #635a46, #2d291f, #5f5643, #fff);
    position: relative;
}

.circleToken .circleClass_smallContainer .circleClass_outer {
    padding: 0.15rem;
}

.circleToken .circleClass_smallContainer .circleClass {
    padding: 0.15rem;
}

.circleToken .circleClass_smallContainer .circleClass_inner {
    padding: 0.15rem;
}

.circleToken.tileMode .circleClass .img {
    border-radius: 0;
}

.circleToken.squareMode .circleClass .img {
    border-radius: 0;
}

.circleToken .circleClass .img {
    width: 5rem;
    height: 5rem;
    border-radius: 30rem;
    overflow: hidden;
    background: #353b3a;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.circleToken .circleClass_smallContainer {
    position: absolute;
    left: 0;
    top: 0rem;
    padding-left: calc(100% - 1.25rem);
    white-space: nowrap;
}

.circleToken .circleClass_element {
    display: inline-block;
}

.circleToken .circleClass .small {
    width: 3rem;
    height: 3rem;
    border-radius: 30rem;
    overflow: hidden;
    background: #353b3a;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 3.5rem;
    font-size: 2rem;
    text-align: center;
    color: #fff;
}
</style>

<script lang="ts">
import LightenDarkenColor from './../common/LightenDarkenColor.js';

export default {
    props: {
        image: {
            default: '',
            type: String,
        },
        mode: {
            default: 'coin',
            type: String,
        },
        color: {
            default: '#a19271',
            type: String,
        },
        size: {
            default: '100px',
            type: String,
        },
    },
    methods: {
        getModeClass() {
            console.log(this.mode, this.color, this.image);
            return {
                circleMode: this.mode === 'circle',
                coinMode: this.mode === 'coin',
                tileMode: this.mode === 'tile',
                squareMode: this.mode === 'square',
                circleToken: true,
                circleClass_selection: true,
            };
        },
        getOuterStyle() {
            return {
                background:
                    'conic-gradient(' +
                    LightenDarkenColor(this.color, 0.4) +
                    ', ' +
                    LightenDarkenColor(this.color, -0.3) +
                    ', ' +
                    LightenDarkenColor(this.color, -0.2) +
                    ', ' +
                    LightenDarkenColor(this.color, -0.25) +
                    ', ' +
                    LightenDarkenColor(this.color, 0.4) +
                    ')',
            };
        },
        getMiddleStyle() {
            return {
                background: this.color,
            };
        },
        getInnerStyle() {
            return {
                background:
                    'conic-gradient(' +
                    LightenDarkenColor(this.color, -0.2) +
                    ', ' +
                    LightenDarkenColor(this.color, -0.2) +
                    ', ' +
                    LightenDarkenColor(this.color, 0.4) +
                    ', ' +
                    LightenDarkenColor(this.color, -0.3) +
                    ', ' +
                    LightenDarkenColor(this.color, -0.2) +
                    ')',
            };
        },
    },
};
</script>
