<template>
    <div class="header">
        <!-- Mythic Logo -->
        <img
            id="logo"
            v-bind:class="{ faded: !headerToolbarExtended }"
            v-on:click="headerToolbarExtended = true"
            src="/static/icons/layout/mythic_wolf.svg"
        />
        <!--  -->
        <transition name="headerToolbar">
            <div id="toolbar" v-show="headerToolbarExtended" :class="{ faded: !headerToolbarExtended }">
                <ToolbarItem image-location="/static/icons/layout/back.svg" v-bind:on-click="returnToCampaignList">
                </ToolbarItem>
                <ToolbarItem id="profile" :image-location="`${me.imageUrl}`">
                    <span v-show="me" v-on:click="showEditor(true)"> {{ me.displayName }}</span>
                </ToolbarItem>
                <ToolbarItem
                    id="drawIcon"
                    v-if="isDrawing"
                    :style="'filter: invert(.5) sepia(1) saturate(5) hue-rotate(45deg);'"
                    image-location="/static/icons/layout/draw.svg"
                    v-bind:on-click="onDraw"
                ></ToolbarItem>
                <ToolbarItem
                    id="drawIcon"
                    v-else
                    image-location="/static/icons/layout/draw.svg"
                    v-bind:on-click="onDraw"
                ></ToolbarItem>
                <ToolbarItem
                    image-location="/static/icons/layout/signout.svg"
                    v-bind:on-click="signOutOidc"
                ></ToolbarItem>
            </div>
        </transition>
        <div
            id="right_arrow"
            v-on:click="headerToolbarExtended = !headerToolbarExtended"
            v-bind:class="{ filled_background: headerToolbarExtended, faded: !headerToolbarExtended }"
        >
            <img src="/static/icons/layout/right_arrow.svg" />
        </div>
    </div>
</template>

<script>
import HeaderToolbarItem from './HeaderToolbarItem';
import { mapActions, mapState } from 'vuex';
export default {
    state: {},
    components: {
        ToolbarItem: HeaderToolbarItem,
    },
    data() {
        return {
            headerToolbarExtended: true,
        };
    },
    computed: {
        ...mapState('profile', {
            me: 'me',
        }),
        ...mapState('drawing', {
            isDrawing: 'active',
        }),
        hasAccess: function() {
            return this.oidcIsAuthenticated || this.$route.meta.isPublic;
        },
    },
    methods: {
        ...mapActions(['signOutOidc', 'oidcSignInCallback']),
        ...mapActions(['drawing/toggle', 'toggleDrawing']),
        ...mapActions('profile', {
            showEditor: 'edit',
        }),
        returnToCampaignList() {
            this.$router.push({ path: '/campaign-list' });
        },
        goToAccount() {
            this.$router.push({ name: 'profile' });
        },
        onDraw() {
            this.$store.dispatch('drawing/toggle');
        },
    },
};
</script>

<style scoped>
.header {
    position: absolute;
    top: 25px;
    left: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    user-select: none;
}
/* Compensating for outside CSS rules */
.header * {
    box-sizing: content-box !important;
}
.header #logo {
    width: 100px;
    height: 100px;
    transition: opacity 0.2s;
    cursor: pointer;
    z-index: 5000;
}
#toolbar::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 70px;
    left: -35px;
    -webkit-mask: radial-gradient(circle at 0% 35px, transparent 81%, black 82%);
    mask: radial-gradient(circle at 0% 35px, transparent 81%, black 82%);
    background: linear-gradient(0deg, #31313acf, #31313acf);
}
.faded {
    opacity: 0.3;
    transition: opacity 1s ease 6s !important;
}
.header #right_arrow {
    background: #31313acf;
    backdrop-filter: blur(10px) saturate(140%);
    height: 30px;
    padding: 20px 15px;
    z-index: 900;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
.header #right_arrow.filled_background {
    background: #31313acf;
    backdrop-filter: blur(10px) saturate(140%);
    margin-left: -1px;
    transform: scaleX(-1);
    border-radius: 10px 0px 0px 10px;
    opacity: 1;
}
.header #right_arrow img {
    height: 100%;
    opacity: 1;
}
.header #toolbar[style*='display: none'] {
    display: flex !important;
    max-width: 15px;
    transition: opacity 1s ease 5.1s !important;
}
.header #toolbar,
#toolbar:not([style*='display: none']) {
    height: 70px;
    background-image: -webkit-linear-gradient(0deg, #655e5e00 15px, #31313acf 0%);
    backdrop-filter: blur(10px) saturate(140%);
    margin-left: -15px;
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    min-width: 15px;
    position: relative;
}
.header #toolbar .ToolbarItem:first-child {
    padding-left: 30px;
}
.header #toolbar .ToolbarItem {
    padding: 10px 18px;
    height: 30px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.headerToolbar-enter-active {
    max-width: 0;
}
.headerToolbar-leave-active.faded {
    max-width: 100%;
    opacity: 1 !important;
}
.headerToolbar-leave,
.headerToolbar-enter-to {
    max-width: 100%;
    transition-property: max-width;
    transition-duration: 0.9s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.headerToolbar-enter,
.headerToolbar-leave-to.faded {
    max-width: 0;
    transition-property: max-width !important;
    transition-duration: 0.9s !important;
    transition-timing-function: ease !important;
    transition-delay: 0s !important;
}
.header #toolbar .ToolbarItem#profile/deep/ img {
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
    top: 50%;
    bottom: 50%;
    margin-top: -25px;
    margin-bottom: -25px;
}
.header #toolbar .ToolbarItem#profile /deep/ span {
    padding: 0 10px;
}
</style>
