<template>
    <v-layer ref="drawing">
        <v-group v-for="(shapes, drawer) in shapeConfigs" :id="drawer" :key="drawer">
            <v-line v-for="shape in shapes" :key="shape.id" :config="shape"></v-line>
        </v-group>
    </v-layer>
</template>

<script>
import { mapState } from 'vuex';
import Konva from 'konva';

export default {
    props: {
        renderContext: {
            type: Object,
            required: true,
        },
        stage: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            drawingConfig: {
                isPaint: false,
                mode: 'brush',
                lastLine: null,
            },
            drawingColor: [
                'black',
                'gray',
                'white',
                'red',
                'blue',
                'green',
                'yellow',
                'orange',
                'brown',
                'purple',
                'pink',
            ][Math.floor(Math.random() * 11)],
        };
    },
    computed: {
        ...mapState('drawing', {
            isDrawing: 'active',
            receivedLines: 'receivedLines',
            drawerLastActive: 'drawerLastActive',
        }),
        ...mapState('profile', {
            me: 'me',
        }),
        shapeDrawers: function() {
            return Object.keys(this.receivedLines);
        },
        shapeConfigs: function() {
            if (!this.receivedLines) {
                return [];
            }

            const gridSpace = this.renderContext.gridSpace;
            let configs = {};
            const scaleFacotr = 50 / this.stage.grid.size;
            let scale = { x: gridSpace.scale * scaleFacotr, y: gridSpace.scale * scaleFacotr };

            for (let drawer of Object.keys(this.receivedLines)) {
                configs[drawer] = [];
                for (let shape of this.receivedLines[drawer]) {
                    let config = {
                        ...shape.attrs,
                        scale,
                    };
                    configs[drawer].push(config);
                }
            }

            return configs;
        },
    },
    updated() {},
    mounted() {
        let stage = this.$refs.drawing.getNode().getStage();
        stage.on('mousedown', e => this.onDrawingStart(e));
        stage.on('mousemove', e => this.onDrawingMove(e));
        stage.on('mouseup', e => this.onDrawingEnd(e));
        window.setInterval(() => {
            for (let userId of Object.keys(this.drawerLastActive)) {
                let drawingAge = Date.now() - this.drawerLastActive[userId];
                if (drawingAge > 4000) {
                    this.$store.dispatch('drawing/fadeUsersLines', { userId });
                    this.$refs.drawing
                        .getNode()
                        .getLayer()
                        .getChildren(group => group.attrs.id === userId)
                        .forEach(group => {
                            let groupTween = new Konva.Tween({
                                node: group,
                                duration: 0.75,
                                opacity: 0,
                                onFinish: () => {
                                    this.$store.dispatch('drawing/purgeUsersLines', { userId });
                                    groupTween.destroy();
                                },
                            });

                            groupTween.play();
                        });
                }
            }
        }, 100);
    },
    methods: {
        getRelativePointerPosition(node) {
            var transform = node.getAbsoluteTransform().copy();
            transform.invert();
            var pointerPosition = node.getStage().getPointerPosition();
            return transform.point(pointerPosition);
        },
        onDrawingStart() {
            if (!this.isDrawing) {
                return;
            }
            if (this.drawingConfig.lastLine) {
                // Drawing already in progress - perhaps dragged over another element
                // Just skip starting a new line and finish up this one
                return;
            }

            this.drawingConfig.isPaint = true;
            var pos = this.getRelativePointerPosition(this.$refs.drawing.getNode().getStage());
            this.drawingConfig.lastLine = new Konva.Line({
                stroke: this.drawingColor, // TODO make this random per user
                strokeWidth: 5,
                globalCompositeOperation: this.drawingConfig.mode === 'brush' ? 'source-over' : 'destination-out',
                points: [pos.x, pos.y],
                name: this.me.id, // TODO replace this with actual data
            });
            this.$refs.drawing
                .getNode()
                .getLayer()
                .add(this.drawingConfig.lastLine);
        },
        onDrawingEnd() {
            if (!this.drawingConfig.isPaint) {
                return;
            }
            this.drawingConfig.isPaint = false;
            if (!this.drawingConfig.lastLine) {
                return;
            }

            // Adjust line for current grid scale
            const gridSpace = this.renderContext.gridSpace;
            const scaleFactor = 1 / ((gridSpace.scale * 50) / this.stage.grid.size);
            this.drawingConfig.lastLine.points(this.drawingConfig.lastLine.points().map(p => p * scaleFactor));

            this.$store.dispatch('drawing/drawLine', {
                sceneId: this.activeScene ? this.activeScene._id : null,
                line: this.drawingConfig.lastLine.toObject(),
            });
            this.drawingConfig.lastLine.destroy();
            this.drawingConfig.lastLine = null;
        },
        onDrawingMove() {
            if (!this.drawingConfig.isPaint) {
                return;
            }
            const pos = this.getRelativePointerPosition(this.$refs.drawing.getNode().getStage());
            var newPoints = this.drawingConfig.lastLine.points().concat([pos.x, pos.y]);
            this.drawingConfig.lastLine.points(newPoints);
            this.$refs.drawing
                .getNode()
                .getLayer()
                .batchDraw();
        },
    },
};
</script>
