<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div
                    class="modal-container"
                    :style="{ 'background-image': 'url(' + modifiedScene.stage.elements[0].asset.src + ')' }"
                >
                    <div class="left-panel">
                        <div id="metadata">
                            {{ modifiedScene.stage.bounds.se.q }} x {{ modifiedScene.stage.bounds.se.r }}
                        </div>
                        <button id="image-button" @click="onEditClicked">
                            <img src="/static/icons/layout/draw.svg" /> Edit Map
                        </button>
                        <input
                            ref="uploader"
                            style="display: none;"
                            type="file"
                            @change="uploadImage"
                            accept="image/*"
                        />
                    </div>
                    <div class="right-panel">
                        <fieldset>
                            <legend>Name</legend>
                            <input v-model="modifiedScene.name" type="textarea" />
                        </fieldset>
                        <fieldset>
                            <legend>Notes</legend>
                            <!-- if this could be hooked up to a store for "notes" -->
                            <textarea class="no-resize"></textarea>
                        </fieldset>
                        <legend>Grid Type</legend>
                        <div id="grid-styles">
                            <div class="grid-style selected">Square</div>
                            <div class="grid-style">Hex</div>
                            <div class="grid-style">None</div>
                        </div>

                        <fieldset>
                            <legend>Grid Size (Pixels)</legend>
                            <input v-model.number="modifiedScene.stage.grid.size" type="number" />
                        </fieldset>
                        <div class="action-buttons">
                            <button class="modal-button selected" @click="onSave">{{ saveButton }}</button>
                            <button class="modal-button" @click="onCancel">Cancel</button>
                            <button class="modal-button" id="delete" v-show="showDelete" @click="onDelete">
                                <img src="/static/icons/layout/delete.svg" alt="" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script lang="ts">
import * as jsonpatch from 'fast-json-patch';
import _ from 'lodash';

import { SCENE } from '@/core/scene/constants.js';
import { addMap } from '@/core/api/files/files.js';

const defaultScene = {
    id: 'default',
    name: 'default',
    stage: {
        grid: { type: 'square' },
        bounds: { se: { q: 0, r: 0 } },
        elements: [
            {
                asset: { kind: 'image', src: '/static/assets/marc.png' },
            },
        ],
    },
};

function getImageDimensions(src) {
    return new Promise((resolve, reject) => {
        let image = new Image();
        image.onload = () => resolve({ width: image.width, height: image.height });
        image.onerror = reject;
        image.src = src;
    });
}

export default {
    data: function() {
        return {
            showMapSelector: false,
            scene: null,
            modifiedScene: defaultScene,
            saveButton: 'Save',
            showDelete: false,
        };
    },
    watch: {
        scene: function() {
            if (this.scene) {
                this.modifiedScene = _.cloneDeep(this.scene);
            }
        },
    },
    methods: {
        onEditClicked() {
            this.$refs.uploader.click();
        },
        async uploadImage(event) {
            let files;
            files = event && event.target && event.target.files;
            const result = await addMap(files);
            this.modifiedScene.stage.elements[0].asset.src = result.data.files[0].url;
        },
        async onSave() {
            if (
                this.scene.stage.elements[0].asset.src !== this.modifiedScene.stage.elements[0].asset.src ||
                this.scene.stage.grid.size !== this.modifiedScene.stage.grid.size
            ) {
                const dim = await getImageDimensions(this.modifiedScene.stage.elements[0].asset.src);
                this.modifiedScene.stage.bounds.se = {
                    q: Math.floor(dim['width'] / (this.modifiedScene.stage.grid.size * (SCENE.MAGIC_SCALE / 50))),
                    r: Math.floor(dim['height'] / (this.modifiedScene.stage.grid.size * (SCENE.MAGIC_SCALE / 50))),
                };
            }
            if (this.scene._id) {
                const patch = jsonpatch.compare(this.scene, this.modifiedScene);
                if (patch.length > 0) {
                    this.$emit('onChange', { id: this.scene._id, patch: patch });
                    this.scene = null;
                }
            } else {
                this.$emit('onAdd', { scene: this.modifiedScene });
                this.scene = null;
            }
        },
        onCancel() {
            this.scene = null;
            this.$emit('onCancel', {});
        },
        onDelete() {
            const sceneId = this.scene._id;
            this.scene = null;
            this.$emit('onDelete', { sceneId });
        },
    },
};
</script>
<style scoped>
.modal-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.right-panel {
    transition: margin-left 1s, opacity 1s;
    background: #31313afa;
    backdrop-filter: blur(4px);
    padding-bottom: 70px;
}
.left-panel {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: flex 1s;
    position: relative;
    background: none;
}
.left-panel:hover ~ .right-panel {
    margin-left: 60px;
    transition: margin-left 0.5s, opacity 0.5s;
    opacity: 0;
    backdrop-filter: blur(0px);
    pointer-events: none;
}
#metadata {
    position: absolute;
    top: 20px;
    left: 20px;

    background: #31313ae5;
    padding: 20px;
    border-radius: 15px 5px 5px 5px;

    font-size: 25px;

    opacity: 0;
    transition: opacity 1s;
}
.left-panel:hover #metadata {
    transition: opacity 0.5s;
    opacity: 1;
}
/* Left Panel Interactions */
#image-button {
    background: #31313ad0;
    border-radius: 15px;
    position: absolute;
    bottom: 20px;
    left: 10px;
    border: none;
    padding: 8px 10px 8px 10px;
}
#image-button:hover {
    background: #31313aef;
}

#image-button img {
    margin-bottom: 2px;
    height: 1.25em;
}

/* Right Panel Interactions */
.grid-style {
    width: 5em;
    height: 5em;
    background: #444545;
    padding: 8px;
    display: inline-block;
    margin: 4px;
    vertical-align: bottom;
    border-radius: 8px;
}
#delete {
    background: #b72d0c;

    width: auto;
    padding: 0px 10px;
}
#delete img {
    height: 1em;
    width: 1em;
    margin-bottom: 2px;
}

.modal-button {
    margin: 3px 2px;
}

/* Common input styling */
input,
textarea {
    width: 100%;
}
div.expand {
    flex-grow: 1;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
</style>
