<template>
    <v-group
        ref="group"
        :config="tokenConfig"
        @dragend="onDragend($event)"
        @click="onClick()"
        @dblclick="onDoubleClick()"
    >
        <v-circle
            v-if="
                (entity.borderMode === 'coin' || entity.borderMode === 'circle' || entity.borderMode === 'location') &&
                    selected
            "
            :config="selectCircleConfig"
        />
        <v-rect
            v-if="(entity.borderMode === 'tile' || entity.borderMode === 'square' || !entity.borderMode) && selected"
            :config="selectSquareConfig"
        />

        <v-circle v-if="entity.borderMode === 'coin'" :config="outerContainerConfig" />
        <v-circle v-if="entity.borderMode === 'coin'" :config="middleContainerConfig" />
        <v-circle v-if="entity.borderMode === 'coin'" :config="innerContainerConfig" />
        <v-circle v-if="entity.borderMode === 'coin'" :config="innerBGConfig" />

        <v-rect v-if="entity.borderMode === 'tile'" :config="outerContainerConfig" />
        <v-rect v-if="entity.borderMode === 'tile'" :config="middleContainerConfig" />
        <v-rect v-if="entity.borderMode === 'tile'" :config="innerContainerConfig" />
        <v-rect v-if="entity.borderMode === 'tile'" :config="innerBGConfig" />

        <v-group :config="clipConfig">
            <v-image :name="entity._id" v-if="entity.image" :config="imageConfig" />
            <component
                v-else
                v-bind:is="shapeConfig.type"
                :config="shapeConfig.config"
                @click="onClick()"
                @dblclick="onDoubleClick()"
            />
        </v-group>
        <ActionMenu :gridSpace="gridSpace" v-if="selected" :actions="actions"></ActionMenu>
        <v-text v-if="entity.counter" :config="counterConfig"></v-text>
    </v-group>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex';
import ActionMenu from './ActionMenu';
import LightenDarkenColor from './../common/LightenDarkenColor.js';

const borderWidth = 1.5;

function totalImageMargin(gridSpace, mode, tokenSize) {
    if (!mode) mode = 'square';
    if (mode === 'coin') {
        return gridSpace.size * baseSizeMultiplier(tokenSize) - gridSpace.scale * borderWidth * 4;
    }
    if (mode === 'circle') {
        return gridSpace.size * baseSizeMultiplier(tokenSize);
    }
    if (mode === 'tile') {
        return gridSpace.size * baseSizeMultiplier(tokenSize) - gridSpace.scale * borderWidth * 4;
    }
    if (mode === 'square') {
        return gridSpace.size * baseSizeMultiplier(tokenSize);
    }
    if (mode === 'location') {
        return gridSpace.size * baseSizeMultiplier(tokenSize) - gridSpace.scale * borderWidth * 4;
    }
    return gridSpace.size;
}

function baseSizeMultiplier(tokenSize) {
    //console.log('a', tokenSize);
    if (tokenSize == 1) {
        return 0.75;
    } else if (tokenSize == 2) {
        return 1;
    } else if (tokenSize == 3) {
        return 2;
    } else if (tokenSize == 4) {
        return 3;
    } else {
        return 1;
    }
}

function baseSizeDelta(gridSpace, tokenSize) {
    if (tokenSize == 1) {
        return 0;
    } else if (tokenSize == 2) {
        return 0;
    } else if (tokenSize == 3) {
        return gridSpace.size * 0.5;
    } else if (tokenSize == 4) {
        return 0;
    } else {
        return 0;
    }
}

export default {
    components: {
        ActionMenu: ActionMenu,
    },
    props: {
        gridSpace: {
            type: Object,
            required: true,
        },
        entity: {
            type: Object,
            required: true,
        },
        selectedProp: {
            type: Boolean,
            required: false,
        },
    },
    data: function() {
        return {
            showActionMenu: this.selectedProp,
            selected: this.selectedProp,
            imageSizeCache: null,
        };
    },
    computed: {
        ...mapGetters('tokens', {
            getToken: 'getToken',
        }),
        ...mapGetters('gamestate', {
            actions: 'actions',
        }),
        ...mapState('gamestate', {
            entities: 'entities',
        }),
        // Config for v-group acting as token root
        tokenConfig() {
            //console.log(this.entity);
            return {
                draggable: true,
                position: this.gridSpace.gridToStage(this.entity.pos),
            };
        },
        selectCircleConfig: function() {
            return {
                width:
                    this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) +
                    this.gridSpace.scale * borderWidth * 2,
                height:
                    this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) +
                    this.gridSpace.scale * borderWidth * 2,
                offsetX: -baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                offsetY: -baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                fill: '#7F7',
                opacity: 0.75,
                fillEnabled: true,
            };
        },
        selectSquareConfig: function() {
            return {
                width:
                    this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) +
                    this.gridSpace.scale * borderWidth * 2,
                height:
                    this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) +
                    this.gridSpace.scale * borderWidth * 2,
                offsetX:
                    this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) * 0.5 +
                    this.gridSpace.scale * borderWidth -
                    baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                offsetY:
                    this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) * 0.5 +
                    this.gridSpace.scale * borderWidth -
                    baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                fill: '#7F7',
                opacity: 0.75,
                fillEnabled: true,
            };
        },
        outerContainerConfig: function() {
            const color = this.entity.borderColor ? this.entity.borderColor : '#a19271';
            if (this.entity.borderMode === 'coin') {
                return {
                    width: this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize),
                    height: this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize),
                    offsetX: -baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    offsetY: -baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    fillLinearGradientColorStops: [
                        0,
                        LightenDarkenColor(color, -0.3),
                        0.5,
                        LightenDarkenColor(color, -0.2),
                        1,
                        LightenDarkenColor(color, 0.4),
                    ],
                    fillLinearGradientStartPoint: {
                        x: -baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                        y:
                            -this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) * 0.5 -
                            baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    },
                    fillLinearGradientEndPoint: {
                        x: -baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                        y:
                            this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) * 0.5 -
                            baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    },
                    fillEnabled: true,
                };
            }
            if (this.entity.borderMode === 'tile') {
                return {
                    width: this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize),
                    height: this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize),
                    offsetX:
                        this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) * 0.5 -
                        baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    offsetY:
                        this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) * 0.5 -
                        baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    fillLinearGradientColorStops: [
                        0,
                        LightenDarkenColor(color, -0.2),
                        0.49,
                        LightenDarkenColor(color, -0.2),
                        0.51,
                        LightenDarkenColor(color, 0.4),
                        1,
                        LightenDarkenColor(color, 0.4),
                    ],
                    fillLinearGradientStartPoint: {
                        x:
                            this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) -
                            baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                        y: -baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    },
                    fillLinearGradientEndPoint: {
                        x: -baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                        y:
                            this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) -
                            baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    },
                    fillEnabled: true,
                };
            }
            if (this.entity.borderMode === 'location') {
                return {
                    width: this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize),
                    height: this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize),
                    offsetX: -baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    offsetY: -baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    fillLinearGradientColorStops: [
                        0,
                        LightenDarkenColor(color, -0.3),
                        0.5,
                        LightenDarkenColor(color, -0.2),
                        1,
                        LightenDarkenColor(color, 0.4),
                    ],
                    fillLinearGradientStartPoint: {
                        x: -baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                        y:
                            -this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) * 0.5 -
                            baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    },
                    fillLinearGradientEndPoint: {
                        x: -baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                        y:
                            this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) * 0.5 -
                            baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    },
                    fillEnabled: true,
                };
            }
            return {};
        },
        middleContainerConfig: function() {
            const color = this.entity.borderColor ? this.entity.borderColor : '#a19271';
            if (this.entity.borderMode === 'coin') {
                return {
                    width:
                        this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) -
                        this.gridSpace.scale * borderWidth,
                    height:
                        this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) -
                        this.gridSpace.scale * borderWidth,
                    offsetX: -baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    offsetY: -baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    fill: color,
                    fillEnabled: true,
                };
            }
            if (this.entity.borderMode === 'tile') {
                return {
                    width:
                        this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) -
                        this.gridSpace.scale * borderWidth,
                    height:
                        this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) -
                        this.gridSpace.scale * borderWidth,
                    offsetX:
                        this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) * 0.5 -
                        this.gridSpace.scale * borderWidth * 0.5 -
                        baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    offsetY:
                        this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) * 0.5 -
                        this.gridSpace.scale * borderWidth * 0.5 -
                        baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    fill: color,
                    fillEnabled: true,
                };
            }
            return {};
        },
        innerContainerConfig: function() {
            const color = this.entity.borderColor ? this.entity.borderColor : '#a19271';
            if (this.entity.borderMode === 'coin') {
                return {
                    width:
                        this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) -
                        this.gridSpace.scale * borderWidth * 3,
                    height:
                        this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) -
                        this.gridSpace.scale * borderWidth * 3,
                    offsetX: -baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    offsetY: -baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    fillLinearGradientColorStops: [
                        0,
                        LightenDarkenColor(color, 0.4),
                        0.5,
                        LightenDarkenColor(color, -0.2),
                        1,
                        LightenDarkenColor(color, -0.3),
                    ],
                    fillLinearGradientStartPoint: {
                        x: -baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                        y:
                            -this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) * 0.5 -
                            baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    },
                    fillLinearGradientEndPoint: {
                        x: -baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                        y:
                            this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) * 0.5 -
                            baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    },
                    fillEnabled: true,
                };
            }
            if (this.entity.borderMode === 'tile') {
                return {
                    width:
                        this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) -
                        this.gridSpace.scale * borderWidth * 3,
                    height:
                        this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) -
                        this.gridSpace.scale * borderWidth * 3,
                    offsetX:
                        this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) * 0.5 -
                        this.gridSpace.scale * borderWidth * 1.5 -
                        baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    offsetY:
                        this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) * 0.5 -
                        this.gridSpace.scale * borderWidth * 1.5 -
                        baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    fillLinearGradientColorStops: [
                        0,
                        LightenDarkenColor(color, 0.4),
                        0.49,
                        LightenDarkenColor(color, 0.4),
                        0.51,
                        LightenDarkenColor(color, -0.2),
                        1,
                        LightenDarkenColor(color, -0.2),
                    ],
                    fillLinearGradientStartPoint: {
                        x:
                            this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) -
                            baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                        y: -baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    },
                    fillLinearGradientEndPoint: {
                        x: -baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                        y:
                            this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) -
                            baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    },
                    fillEnabled: true,
                };
            }
            return {};
        },
        innerBGConfig: function() {
            if (this.entity.borderMode === 'coin') {
                return {
                    width:
                        this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) -
                        this.gridSpace.scale * borderWidth * 4,
                    height:
                        this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) -
                        this.gridSpace.scale * borderWidth * 4,
                    offsetX: -baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    offsetY: -baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    fill: '#353b3a',
                    fillEnabled: true,
                };
            }
            if (this.entity.borderMode === 'tile') {
                return {
                    width:
                        this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) -
                        this.gridSpace.scale * borderWidth * 4,
                    height:
                        this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) -
                        this.gridSpace.scale * borderWidth * 4,
                    offsetX:
                        this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) * 0.5 -
                        this.gridSpace.scale * borderWidth * 2 -
                        baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    offsetY:
                        this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize) * 0.5 -
                        this.gridSpace.scale * borderWidth * 2 -
                        baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                    fill: '#353b3a',
                    fillEnabled: true,
                };
            }
            return {};
        },
        imageConfig: function() {
            let image = this.imageSizeCache ? this.imageSizeCache : { width: 100, height: 100 };

            const asset = new Image();
            asset.src = this.entity.image;

            const cell = totalImageMargin(this.gridSpace, this.entity.borderMode, this.entity.tokenSize);
            const ratios = [image.width / image.height, image.height / image.width];
            let w, h;
            if (ratios[0] > 1) {
                w = cell;
                h = cell * ratios[1];
            } else {
                w = cell * ratios[0];
                h = cell;
            }

            //console.log(w, h, this.entity, ratios, asset);

            return {
                image: asset,
                width: w,
                height: h,
                offsetX: w * 0.5 - baseSizeDelta(this.gridSpace, this.entity.tokenSize),
                offsetY: h * 0.5 - baseSizeDelta(this.gridSpace, this.entity.tokenSize),
            };
        },
        clipConfig: function() {
            if (this.entity.borderMode === 'coin' || this.entity.borderMode === 'circle') {
                const g = totalImageMargin(this.gridSpace, this.entity.borderMode, this.entity.tokenSize);
                const d = baseSizeDelta(this.gridSpace, this.entity.tokenSize);
                return {
                    clipFunc: function(ctx) {
                        ctx.arc(d, d, g * 0.5, 0, Math.PI * 2, false);
                    },
                };
            }
            if (this.entity.borderMode === 'tile' || this.entity.borderMode === 'square') {
                const g = totalImageMargin(this.gridSpace, this.entity.borderMode, this.entity.tokenSize);
                const d = baseSizeDelta(this.gridSpace, this.entity.tokenSize);
                return {
                    clipFunc: function(ctx) {
                        ctx.rect(-g * 0.5 + d, -g * 0.5 + d, g, g);
                    },
                };
            }
            if (this.entity.borderMode === 'location') {
                const g = totalImageMargin(this.gridSpace, this.entity.borderMode, this.entity.tokenSize);
                const d = baseSizeDelta(this.gridSpace, this.entity.tokenSize);
                return {
                    clipFunc: function(ctx) {
                        ctx.arc(d, -g * 0.5 + d, g * 0.5, 0, Math.PI * 2, false);
                    },
                };
            }
            return {};
        },
        shapeConfig() {
            return {
                type: 'v-circle',
                config: {
                    radius: Math.floor((this.gridSpace.size * baseSizeMultiplier(this.entity.tokenSize)) / 2) - 1,
                    stroke: '#0A0',
                    strokeOpacity: 0.3,
                    strokeEnabled: this.selected,
                },
            };
        },
    },
    created: async function() {
        const image = await this.loadImage(this.entity.image);
        this.imageSizeCache = { width: image.width, height: image.height };
    },
    methods: {
        ...mapActions('assets', {
            loadImage: 'load',
        }),
        onDragend() {
            this.$emit('moved', {
                position: this.$refs.group.getNode().position(),
                entity: this.entity,
            });
        },
        onClick() {
            this.showActions();
            this.selected = !this.selected;
            if (this.selected) {
                this.$emit('selected', {
                    entity: this.entity,
                });
            } else {
                this.$emit('deselected');
            }
        },
        onDoubleClick() {
            this.showActions();
            if (!this.selected) {
                this.selected = true;
                this.$emit('selected', {
                    entity: this.entity,
                });
            }
            this.$emit('dblclick', {
                character: this.entity,
            });
        },
        showActions() {
            this.showActionMenu = !this.showActionMenu;
        },
    },
};
</script>
